h1 {
  text-align: center;
  letter-spacing: 1rem;
  font-size: 5rem;
  color: rgba(0, 0, 0, 0.5);
}
.input-color {
  text-align: center;
}
input {
  margin: 1rem;
}
#main {
  background: linear-gradient(to right, #ff0000, #ffff00);
}
h2 {
  text-align: center;
  letter-spacing: 0.5rem;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.5);
}
h3 {
  text-align: center;
  letter-spacing: 0.5rem;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}

.btn {
  text-align: center;
  letter-spacing: 0.5rem;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.5);
}

button {
  padding: 0.5rem 2rem;
  letter-spacing: 0.5rem;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
}
